.editor, .tm {
    height: 100%;
    padding-bottom: 20px;
}

.editor {
    height: 675px;
    padding-bottom: 20px;
}

.tm-panel {
    height: 400px;
    padding-bottom: 20px;
}

.tape-panel {
    height: 200px;
    padding-bottom: 20px;
}